@keyframes hide {
  0% {transform: scale(1) translateY(0);}
  50% {transform: scale(1) translateY(15%);}
  90% {transform: scale(.5) translateY(15%); opacity: 0;}
  100% {transform: scale(.5) translateY(15%); opacity: 0; display: none;}
}
@keyframes fade {
  0% {transform: scale(1) translateY(0);}
  50% {transform: scale(1) translateY(15%);}
  90% {transform: scale(.5) translateY(15%); opacity: 0;}
  100% {transform: scale(.5) translateY(15%); opacity: 0; display: none;}
}

@keyframes wave {
  0% {height: 8px;}
  50% {height: 15px;}
  100% {height: 8px;}
}

@keyframes twilight {
  0% {color: var(--cta);}
  50% {color: var(--cta);}
  55% {color: var(--cta2);}
  95% {color: var(--cta2);}
  100% {color: var(--cta);}
}

@keyframes rotate {
  0% {transform: rotateX(180deg);}
  20% {transform: rotateX(180deg);}
  25% {transform: rotateX(0);}
  90% {transform: rotateX(0);}
  100% {transform: rotateX(180deg);}
}
@keyframes grow {
  from {height: 0;}
  to {height: 140%;}
}
@keyframes spread {
  0% {opacity: 0;}
  10% {opacity: 0; letter-spacing: -26px;}
  12% {opacity: 1; letter-spacing: -26px;}
  20% {opacity: 1; letter-spacing: -6px;}
  90% {opacity: 1; letter-spacing: -6px;}
  99% {opacity: 1; letter-spacing: -26px;}
  100% {opacity: 0;}
}
@keyframes show {
  0% {visibility: hidden;}
  10% {visibility: visible; opacity: 0;}
  100% {visibility: visible; opacity: 1;}
}
@keyframes intrOff {
  0% {transform: scale(1);}
  80% {transform: scale(1, 0);}
  100% {transform: scale(1, 0); display: none;}
}