main .discover {
  flex-direction: column;
  gap: 1.5vh;

  .top-container {
    display: flex;
    gap: 2%;

    .aboutArtist, .playing {
      position: relative;
      border-radius: 12px;
      height: 100%;
    }

    .aboutArtist {
      flex-direction: column;
      background: linear-gradient(black, transparent, #ff000078);
      overflow: hidden;
      
      img {
        width: 100%;
        height: 50%;
      }

      h3, h5, p {
        margin: 5px 10px;
      }
    }
    
    .playing {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
  
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
  
      h1 {
        position: relative;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 1dvh;
        text-shadow: -1px 1px 2px #0000008f;
      }
      h2 {
        position: relative;
        font-size: 18px;
        font-weight: 100;
        margin-bottom: 3dvh;
        text-shadow: -1px 1px 2px #0000008f;
      }
      p {
        position: relative;
        font-size: 10px;
        font-weight: 100;
        text-shadow: -1px 1px 2px #0000008f;
      }
    }
  }

  .cards, .results {
    position: relative;

    h3 {
      font-weight: 700;
      font-size: 16px;
    }

    .search {
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      width: 100.4%;

      .video-height {
        height: 38vh;
      }

      .release-cover {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        width: 100px;
        height: fit-content;

        &:hover {
          background: black;
          transition: .3s;
          
          .cover-img {
            transition: .3s;
            transform: scale(1.1);
          }
          .ico, .vidplay, .topvidplay {
            opacity: 1;
            z-index: 2;
          }
        }

        .ico, .vidplay, .topvidplay {
          transition: .3s linear;
          opacity: 0;
          width: 25px;
          position: absolute;
          top: 30%;
          left: 40%;
        }

        .cover-img {
          width: 100%;
          height: 12vh;
        }

        .video-size {
          width: 100%;
        }

        .artist-img {
          width: 100%;
          height: 100%;
        }

        h5 {
          font-size: 10px;
          font-weight: 100;
        }

        .h5 {
          margin: 3px 0 0 5px;
        }

        p {
          color: #4c5767;
          margin: 4px 0 6px 6px;
          font-size: 8px;
          font-weight: 100;
        }

        .abs {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 2px;
          border: 2px solid #f33232;
          width: 18px;
          border-radius: 1px;
        }

        .top {
          display: flex;
          padding: 5px;
          justify-content: space-between;
          gap: 10px;
        }

        .bottom {
          position: absolute;
          right: 5%;
          bottom: 0;
        }
      }
    }

    .new {
      display: grid;
      grid-auto-flow: column;
      overflow-x: auto;
      flex-wrap: wrap;
      overscroll-behavior-inline: contain;

      &::-webkit-scrollbar {
        display: none;
      }


      .circle {
        width: 8dvh;
      }

      .release-cover {
        overflow: hidden;
        position: relative;
        cursor: pointer;

        &:hover {
          background: black;
          transition: .3s;

          .cover-img {
            transition: .3s;
            transform: scale(1.1);
          }
          .icon, .vidplay, .topvidplay {
            opacity: 1;
            z-index: 2;
          }
        }

        .icon, .vidplay, .topvidplay {
          transition: .3s linear;
          opacity: 0;
          width: 25px;
          position: absolute;
          top: 30%;
          left: 40%;
        }

        .cover-img {
          width: 100%;
          height: 12vh;
        }

        .video-size {
          width: 100%;
        }

        .artist-img {
          width: 100%;
          height: 100%;
        }

        h5 {
          font-size: 12px;
          font-weight: 100;
        }

        .h5 {
          margin: 5px;
        }

        p {
          color: #b3b4b5;
          margin: 4px 0 8px 6px;
          font-size: 8px;
          font-weight: 100;
        }

        .abs {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 2px;
          border: 2px solid #f33232;
          width: 18px;
          border-radius: 1px;
        }

        .top {
          display: flex;
          padding: 5px;
          justify-content: space-between;
          gap: 10px;
        }

        .bottom {
          position: absolute;
          right: 5%;
          bottom: 0;
        }
      }
    }

    .video-sect, .top-video-sect {
      align-items: center;
      justify-items: center;
      padding: 0 15px;

      .video-height {

        &:hover {
          transform: scale(1.15);
          border-radius: 10px;
          border: 1px solid var(--cta2);
        }
      }
    }
  }
}

.active-video {
  position: absolute;
  border-radius: 10px;
  width: 80vw;
  z-index: 30;
  top: 10vh;
}

.grid-col-small {
  grid-auto-columns: 6.5%;
  height: 8vh;
}

.snaps-inline {
  scroll-snap-type: inline mandatory ;
  scroll-padding-inline: 20px;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.rectgle {
  border-radius: 5px;
}

.circle {
  border-radius: 50%;
}

.cover-img {
  height: auto;
}

main, header {
  visibility: hidden;
  opacity: 0;
  animation: show 2s linear forwards;
  animation-delay: 9.6s;
}