/*=====================================
Mobile hide setup
=====================================*/
.hide-for-mobile {
  @media (max-width: 950px) {
    display: none;
  }
}
/*=====================================
Desktop hide setup
=====================================*/
.hide-for-desktop {
  @media (min-width: 951px) {
    display: none;
  }
}

.active-section {
  width: 100%;
}

.inactive-section {
  display: none;
}

.side-bar-DT-width {
  width: 25%;
}

//Mobile Only Setup
@media (max-width: 450px) {
  main {
    .grid-col-big {
      grid-auto-columns: 40%;
      gap: 15px;
    }
  }
}
//Tablet Only Setup
@media (min-width: 451px) {
  main {
    .grid-col-big {
      grid-auto-columns: 28%;
      gap: 10px;
    }
  }
}

//Tablet and Mobile Only Setup
@media (max-width: 950px) {

  .top-container {
    height: 30%;
    justify-content: space-between;
    
    .playing {
      padding: 15px;
    }

    .aboutArtist {
      width: 28%;
    }
  }

  header {
    padding: 20px;
    width: 100%;
  }

  main {
    .side-bar, .songs {
      width: 100%;
      height: 100%;
    }

    .songs .songListItem .song-details .playico {
      display: none;
    }

    .side-bar {
      padding-top: 70px;

      .songs {
        height: 70vh;

        li {
          padding: 10px 15px;

          img {
            width: 28px;
            height: 28px;
          }
        }
      }

      .categories {
        flex-direction: row;
        background: linear-gradient(#070a11, black, black);
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        gap: 20px;
        height: 10dvh;
        align-items: center;
        padding: 0;
        width: 100%;
        z-index: 2;

        img {
          width: 25px;
	        margin: 0 0 8px;
        }

        h4 {
	        flex-direction: column;

          span{
            display: none;
            margin-right: 20px;
          }

          img {
            display: flex;
          }
        }
      }
    }

    .discover {
      display: none;
      padding: 70px 10px 0;
      gap: 3dvh;
      width: 100%;

      .search-form2 {
        width: 96%;
        margin: 0 2%;
        height: 35px;

        img {
          position: absolute;
          width: 16px;
          left: 10px;
          top: 8px;
        }

        #search-bar2 {
          min-width: 100%;
          height: 100%;
          border-radius: 5px;
        }
      }

      .results .search {
        height: 62dvh;
      }

      .cards h3 {
        margin: 0 10px 10px;
      }

      .grid-col-small {
        gap: 15dvw;
      }

      .video-sect, .top-video-sect {
        height: 35dvh;
      }

      .video-height {
        height: 30vh;
      }

      .release-cover .video-size {
	      height: 18vh;
      }
    }

    .discover-section, .discowr, .vido, .musc {
      display: flex;
    }

    .artiste-details {
      width: 100%;
      padding: 80px 0 0 20px;

      .artist-id {
        gap: 20px;
        height: 10vh;

        .details {
          gap: 5px;

          h3 {
            font-size: 13px;
          }
        }

        .exit-icon {
          top: 65px;
        }
      }

      .artist-songs {
        width: 95%;

        li img {
          margin-left: 0;
        }
      }
    }

    .container {
      .wrapper .video-controls {
        .left {
          .volume {
            margin-left: 20px;
            width: 50px;
          }

          .video-timer {
            font-size: 12px;
            margin-left: 10px;
          }
        }

        .right {
          margin-left: 0;

          .exit-con {
            margin: 0 0 3px 5px;
          }
        }
      }
    }
  }

  .master-play {
    height: 7%;
    padding: 0 5px;
    bottom: 10%;

    .details {
      h5, p {
        margin-left: 0;
      }
    }

    .icons {
      margin: 0 10px;

      img {
        width: 16px;
      }
    }

    span, .wave {
      display: none;
    }

    .bar, .vol {
      display: none;
    }
  }
}

//Desktop Only Setup
@media (min-width: 950px) {
  .top-container {
    height: 42%;

    .playing {
      padding: 0 0 0 20px;
    }

    .aboutArtist {
      width: 26%;
    }
  }

  main {
    .grid-col-big {
      grid-auto-columns: 14%;
      gap: 15px;
    }

    .artiste-details {
      width: 75%;
      padding: 25px 0 10px 30px;

      .artist-id {
        gap: 50px;
        height: 20vh;

        .details {
          gap: 20px;

          h3 {
            font-size: 18.5px;
          }
        }

        .exit-icon {
          top: 30px;
        }
      }

      .artist-songs {
        width: 72.6%;

        li img {
          margin-left: 25px;
        }
      }
    }

    .container {
      .wrapper .video-controls {
        .left {
          .volume {
            margin-left: 50px;
            width: 100px;
          }

          .video-timer {
            font-size: 14px;
            margin-left: 35px;
          }
        }

        .right {
          margin-left: 150px;

          .exit-con {
            margin: 0 0 3px 40px;
          }
        }
      }
    }

    .discover {
      display: flex;
      padding: 20px 0 10px 30px;
      width: 77%;

      .results .search {
        height: 75dvh;
      }

      .cards h3 {
        margin: 0 0 10px 0;
      }

      .video-sect, .top-video-sect {
        height: 43dvh;
      }

      .video-height {
        height: 37vh;
      }

      .release-cover .video-size {
	      height: 25vh;
      }
    }
  }

  .grid-col-small {
    gap: 25px;
  }

  header {
    padding: 3dvh 0 0 3dvh;
  }

  .side-bar {
    padding-top: 75px;
    width: 23%;

    &::before {
      content: "";
      position: absolute;
      right: -15%;
      top: 0;
      width: 15%;
      z-index: 2;
      height: 100%;
      background: linear-gradient(to right, black, transparent);
    }

    .categories {
      flex-direction: column;
      margin-bottom: 30px;
      padding-left: 20px;
      gap: 10px;

      .active img {
        margin: 0 20px 0 0;
      }

      h4 {
        span{
          margin-right: 35px;
        }
        img {
          display: none;
        }
      }

      .music, .video {
        display: flex;
      }
    }

    .songs {
      height: 62vh;
      display: flex;
      width: 23.3%;

      li {
        padding: 8px 12px;

        img {
          width: 40px;
          height: 32px;
        }
      }
    }
  }

  .master-play {
    padding: 0 20px;
    border-radius: 5px;
    height: 9%;
    bottom: 0;

    .details {
      h5, p {
        margin-left: 15px;
      }
    }

    .wave {
      display: flex;
    }

    .icons {
      margin: 0 2dvw;
    }

    span {
      display: block;
    }
  }
}
/*=====================================
Flex setup
=====================================*/
@mixin Display-align-justify ($placement, $align, $justify) {
  display: #{$placement};
  align-items: #{$align};
  justify-content: #{$justify};
}

@mixin Display-align ($placement, $align) {
  display: #{$placement};
  align-items: #{$align};
}

@mixin Display-justify ($placement, $justify) {
  display: #{$placement};
  justify-content: #{$justify};
}
/*=====================================
Width-height setup
=====================================*/
@mixin width-height ($width, $height) {
  width: #{$width};
  height: #{$height};
}
/*=====================================
Background Position setup
=====================================*/
@mixin background-size-position-repeat ($size, $position, $repeat) {
  background-size: #{$size};
  background-position: #{$position};
  background-repeat: #{$repeat};
}